@media screen and (max-width:767px) {}
@media screen and (min-width:768px) and (max-width:991px) {}
@media screen and (min-width:992px) {}

html {
  width: 100vw;
  height: 100vh;
}

.body {
  display: flex;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 20vh;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: navy;
  width: 100vw;
  height: 20vh;
}

h2 {
  width: 50vw;
  justify-content: flex-start;
  font-size: 2vw;
  position: absolute;
  margin-left: 2vw;
  margin-top: 3vh;
}

ul {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-start;
  width: 25vw;
  flex-wrap: no-wrap;
  white-space: no-wrap;
  font-size: 1vw;
  font-weight: bold;
  margin: 4vh 0 0 73vw;
  padding: 0vh 0vw 0vh 0vw;
}

li {
  width: 50vw;
  list-style: none;
  margin: 0vh 0vw 0vh 0vw;
  padding: 0vh 0vw 0vh 0vw;
}

.main {
  display: flex;
  position: relative;
  width: 100vw;
  height: 80vh;
}

.firstview {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50vw;
  height: 63vh;
  margin: 0;
  padding: 0;
  top: 18vh;
  left: 50vw;
  Z-index: 10;
}

h1 {
  display: flex;
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  justify-content: center;
  align-items: center; 
  top: 62vh;
}

.navy-box {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  width: 74vw;
  height: 25vh;
  margin: 48vh 0 0 0;
  padding: 0;
  background-color: navy;
  Z-index: 0;
}